/* styles.css */

body {
    font-family: Arial, sans-serif;
}

th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.pinned {
    background-color: rgb(79, 9, 126);
}

#compareTable {
    display: none;
    /* border: 2px solid black; */
}

td {
    padding: 5px;
    border: 1px solid black;
}